.formRegister{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formRegister form{
    width: 40%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}
.formRegister form h3{
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    padding-left: 0;
}
/* .formRegister form .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formRegister form .box .radio{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.formRegister form .box span{
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;
}*/
.formRegister form .box select{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
} 
.boxDog{
    align-items: flex-start;
}
.boxDog span{
    font-size: 1.1em;
    margin-bottom: 5px;
}
.radio{
    width: 100%;
    display: flex;
}
.boxDirection{
    flex-direction: row;
}
.formRegister form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
}
.formRegister form input[type='submit']{
    background-color: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}
.imgRegister{
    border-radius: 10px;
    margin: 0 50px;
    width: calc(60% - 100px);
    overflow: hidden;
}